Source: qtqq-test
Section: net
Priority: optional
Maintainer: zhanlangsir <zhanlangsir@gmail.com>
Standards-Version: 3.9.2
Homepage: https://github.com/zhanlangsir/Qtqq
Build-Depends: debhelper (>= 8.0.0), cmake,
         pkg-config, cdbs, libqt4-dev, zlib1g-dev,
         libqtwebkit-dev, libx11-dev

Package: qtqq-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: qtqq
Description: Linux QQ for human beings
 qtqq written in Qt4, which is free for all Linuxer!
 Protol based from Tencent's Web QQ
